body
  background: #eeeeef url('bg.jpg') no-repeat top
  background-size: cover
  background-attachment: fixed
  font-family: $sans
  font-size: 100%
  line-height: 1.5em

h1
  font-size: 30px
  line-height: 1.5em

h2
  font-size: 24px
  line-height: 1.5em
  margin: 0 0 $small-gap 0
  a
    +link-colors($bruiiin, $red)

h3
  font-size: 20px
  line-height: 1.5em
  margin: 0 0 $small-gap 0
  a
    +link-colors($black, $red)

h1, h2, h3, h4, h5, h6
  margin: 1.5em 0 0.5em 0
  padding: 0
  color: $black
  font-weight: normal

p
  color: $black
  margin: 0 0 0.5em 0
  font-size: 1em
  line-height: 1.8em
  font-family: $sans

a
  +link-colors($bruiiin, $red)
  +hover-link

strong
  font-weight: bold
  color: $black

em
  font-style: italic

hr
  border: 0 none
  border-bottom: $sidebar-border

img
  border: 3px solid $warm-gray

+small-screen
  body
    font-size: 0.9em

  h1
    font-size: 20px
  h2
    font-size: 15px
