.content
  p
    font-family: $sans
    &.read_more
      text-align: right
      a
        +inline-block
        padding: $small-gap 0 $small-gap $small-gap
        margin-bottom: $big-gap
        +link-colors($black, $blue)
        text-decoration: none
        font-family: $heading


  h1, h2, h3, h4, h5, h6
    font-family: $heading

  ul
    list-style: disc outside
    margin: $small-gap
    margin-left: $small-gap
    list-style-type: square
    font-size: 1.2em
  ol
    list-style: decimal outside
    margin: $big-gap
  li
    color: $black
    font-family: $sans
    margin-bottom: 10px

    pre
      display: block
      width: auto !important
      min-width: auto

  tt, code
    +code-font
    color: #336633

  blockquote
    margin: $big-gap
    color: $warm-gray
    p
      color: $warm-gray

  article
    em
      font-style: normal
      font-size: 1.2em
    &.summary
      em
        font-style: normal
        font-size: 1em
        font-weight: normal
    min-height: 100px
    h1
      font-size: 2em!important
    h2
      font-size: 1.5em
      line-height: 1.143em
      letter-spacing: 2px
      text-align: center

    p.summary 
      a
        color: $black
        text-decoration: none
        display: block


