+big-screen
  footer
    background: #9EBEA6
    min-height: 20px
    clear: both
    color: white
    .sitemap
      padding: $big-gap
      font-family: $sans
      text-align: center
      text-transform: uppercase
      a
        +link-colors(white, $blue)
        +hover-link

    .copyright
      width: 100%
      p
        font-size: 1em
        font-family: $sans
        text-transform: uppercase
        color: white
        text-align: center

+small-screen
  
  footer
    background: #9EBEA6
    min-height: 20px
    clear: both
    color: white
    .sitemap
      padding: $big-gap
      font-family: $sans
      text-align: center
      text-transform: uppercase
      a
        +link-colors(white, $blue)
        +hover-link

    .copyright
      width: 100%
      p
        font-size: 1em
        font-family: $sans
        text-transform: uppercase
        color: white
        text-align: center
