body
  margin: 0
  padding: 0

.content
  padding: $big-gap

.copyright
  padding: $small-gap

+big-screen

  .container
    width: $site-width
    margin: $big-gap auto
    overflow: none

  .block, .sidebar, .copyright
    +box-sizing(border-box)

  .block
    width: $main-width
    float: left

  .sidebar
    +border-top-right-radius(4px)
    width: $side-width - $big-gap
    float: right
    +box-shadow
    .about
      background: #EAEAEA
      padding: $big-gap
      +border-radius(4px)
      p
        span.red
          color: $red
        span.blue
          color: $blue

    .title
      +border-top-radius(4px)
      background: darken($blue, 10%)
      height: 106px

  .copyright
    width: $main-width
    clear: both

+small-screen

  .container
    margin: $small-gap

  .sidebar
    background: #fff
    margin-top: 10px
    +border-radius(4px)
    +box-shadow
    +border-radius(4px)
    padding: 8px 20px
    h3
      margin: 0
