$black:          #111
$warm-gray:      #9e948a
$cool-gray:      #808094
$red:            #a80b13
$blue:           #374F68
$bruiiin:        #4f3328
$donker-bruiiin: darken($bruiiin, 10%)

$content-border: 1px solid #e3e3e3
$sidebar-border: 1px solid #ddd

$big-gap:  20px

$site-width: 1140px
$main-width: 836px
$side-width: $site-width - $main-width

$small-gap: 6px

$default-box-shadow-color:    $black
$default-box-shadow-h-offset: 0px
$default-box-shadow-v-offset: 2px
$defualt-box-shadow-blur:     4px
$default-box-shadow-spread:   0

$background-color: #ffffff

$sans: "Open Sans", Helvetica, Arial, sans-serif
$serif: "Alike", Times New Roman, serif
$mono: "Monaco", fixedsys