h1.section_separator
  a href='/about' About me 
p 
  'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id magna metus, et rutrum erat. Nulla sit amet tellus ac metus congue eleifend ut in est. Donec eu ante et turpis ultricies ornare. Morbi aliquet dui vel ante bibendum vestibulum. Nullam non nunc id ipsum interdum tincidunt id id tellus. 